
<div class="title-field">
	<%= form.label :title %>
	<%= form.text_field :title %>
</div>

<div class="bedroom-field">
	<%= form.label :bedroom %>
	<%= form.text_field :bedroom %>
</div>

<div class="bathroom-field">
	<%= form.label :bathroom %>
	<%= form.text_field :bathroom %>
</div>

<div class="checkin-field">
	<%= form.label :checkin %>
	<%= form.text_field :checkin %>
</div>

<div class="checkout-field">
	<%= form.label :checkout %>
	<%= form.text_field :checkout %>
</div>

<div class="number_of_guest-field">
	<%= form.label :number_of_guest %>
	<%= form.text_field :number_of_guest %>
</div>

<div class="description-field">
	<%= form.label :description %>
	<%= form.text_field :description %>
</div>

<div class="rule-field">
	<%= form.label :rule %>
	<%= form.text_field :rule %>
</div>

<div class="price-field">
	<%= form.label :price %>
	<%= form.text_field :price %>
</div>

