
<div class="title-field">
	<%= form.label :title %>
	<%= form.text_field :title, :required => true %>
</div>

<div class="bedroom-field">
	<%= form.label :bedroom %>
	<%= form.text_field :bedroom, :required => true %>
</div>

<div class="bathroom-field">
	<%= form.label :bathroom %>
	<%= form.text_field :bathroom, :required => true %>
</div>

<div class="checkin-field">
	<%= form.label :checkin %>
	<%= form.text_field :checkin, :required => true %>
</div>

<div class="checkout-field">
	<%= form.label :checkout %>
	<%= form.text_field :checkout, :required => true %>
</div>

<div class="number_of_guest-field">
	<%= form.label :number_of_guest %>
	<%= form.text_field :number_of_guest, :required => true %>
</div>

<div class="description-field">
	<%= form.label :description %>
	<%= form.text_field :description %>
</div>

<div class="rule-field">
	<%= form.label :rule %>
	<%= form.text_field :rule %>
</div>

<div class="price-field">
	<%= form.label :price %>
	<%= form.text_field :price, :required => true %>
</div>

<div class="image-field">
<%= form.file_field :image %>
</div>

